<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="Mars Gu" />

   <title>Mars的笔记</title>

   <!--jquery-->
   <script src="http://marsishandsome.github.io/libs/jquery/jquery-1.11.3.min.js"></script>

   <!--boostrap-->
   <link href="http://marsishandsome.github.io/libs/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"></link>
   <link href="http://marsishandsome.github.io/libs/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet"></link>

   <!--highlight-->
   <link rel="stylesheet" href="http://marsishandsome.github.io/libs/highlight/styles/androidstudio.css">
   <script src="http://marsishandsome.github.io/libs/highlight/highlight.pack.js"></script>

   <!--home-->
   <link href="http://marsishandsome.github.io/template/home.css" rel="stylesheet"></link>

</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" style="opacity: .9" role="navigation">
	    <div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/">Mars的笔记</a>
	        </div>

	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav navbar-right">
	                <li class="active"><a href="#">Blog</a></li>
	                <li><a href="https://github.com/marsishandsome">GitHub</a></li>
					<li><a href="http://feeds.feedburner.com/marsishandsome">RSS</a></li>
	            </ul>
	        </div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
	</nav>

	<div class="row" style="padding-top: 70px">
	  <div class="container center-block">
	    <div class="col-md-2"></div>
	    <div class="col-md-8 col-sm-12">
	      <div class="panel panel-default">
	        <div class="row">
